@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 17 24 39;
}

html, body, #__next {
  height: 100%;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

.container {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

.card {
  @apply bg-white rounded-xl shadow-sm ring-1 ring-gray-200;
}

.card-header {
  @apply p-4 border-b border-gray-200 flex items-center justify-between;
}

.card-body {
  @apply p-4;
}
